
  <div
  class="tab-container border border-1 rounded-2 mt-3 mb-3"
  (click)="toggle()"
  >
    <div class="heading p-3 d-flex justify-content-around align-content-around" [class.isExpanded]="!accListIsOpen">
      <h3 class="accordion-button collapsed">{{ btnTitle }}</h3>
      <i class="bi"
        [ngClass]="{
          'bi-caret-down-fill': accListIsOpen,
          'bi-caret-up-fill': !accListIsOpen
        }"
        ></i>
    </div>
    <div class="body p-3" *ngIf="!accListIsOpen">
      <div class="accordion-body">{{ content }}</div>
    </div>
  </div>
