<input
  type="text"
  class="form-control mt-2 mb-2"
  #title
  (keyup.enter)="createPost(title)"
>
<ul class="list-group">
  <li *ngFor="let post of posts; let i = index"
    class="list-group-item d-flex justify-content-start align-items-start"
  >
    <span>{{ post.title }}</span>
    <button
      class="btn btn-success btn-sm ms-2"
      (click)="updatePost(post)"
    >Update</button>
    <button
      class="btn btn-danger btn-sm ms-2"
      (click)="deletePost(post)"
    >Delete</button>
  </li>
</ul>
